name: Build Project

on:
  push:
    branches: [ master, ver/* ]
  pull_request:
    branches: [ master, ver/* ]

  workflow_dispatch:

jobs:
  setup:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    name: Gradle Setup
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/wrapper-validation-action@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Gradle Information
        run: ./gradlew project :novaconomy:dependencies

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: setup

    name: Test Project
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Gradle Test
        run: ./gradlew test

  test-server:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    needs: test

    strategy:
      fail-fast: false
      matrix:
        version: [ 1.16.5, 1.15.2, 1.14.4, 1.13.2, 1.12.2, 1.11.2, 1.10.2, 1.9.4, 1.8.8 ]
        java-version: [ 8 ]
        include:
          - version: 1.19.4
            java-version: 17
          - version: 1.20.4
            java-version: 17

    name: Test Plugin on MC ${{ matrix.version }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'temurin'
          cache: 'gradle'
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Build Plugin
        run: ./gradlew clean assemble
      - name: Test Plugin - ${{ matrix.version }}
        uses: GamerCoder215/TestMC@v1.0.1
        with:
          path: 'plugin/build/libs/novaconomy-*.jar'
          runtime: 'paper'
          version: ${{ matrix.version }}
          time: 120

  build:
    runs-on: ubuntu-latest
    needs: setup
    timeout-minutes: 30

    strategy:
      fail-fast: false
      matrix:
        java-version: [8, 11, 16, 17]

    name: Build Java ${{ matrix.java-version }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'gradle'
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew clean assemble publishToMavenLocal

  upload:
    runs-on: ubuntu-latest
    needs: build
    timeout-minutes: 30

    name: Create Artifacts
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Build with Gradle
        run: ./gradlew clean assemble
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: novaconomy
          path: |
            plugin/build/libs/*.jar
            api/build/libs/*.jar

  analyze:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name != 'pull_request'
    timeout-minutes: 30

    name: Analyze Project
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - name: Cache SonarCloud packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Build and Analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew clean assemble sonar --info

  deploy:
    runs-on: ubuntu-latest
    needs: build
    name: Deploy JavaDocs
    if: ${{ github.event_name != 'pull_request' && github.ref_name == 'master' }}
    timeout-minutes: 30
    
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - name: Change Permissions
        run: chmod +x ./gradlew
      - name: Build JavaDocs
        run: ./gradlew :novaconomy-api:clean :novaconomy-api:javadoc
      - name: Deploy JavaDoc
        run: bash javadoc.sh ${GITHUB_SHA::7}
